<header class="header">
    <section class="header__top-bar d-flex justify-content-between align-items-center">
        <div class="menu-icon">
            <img src="./assets/bars.svg" alt="menu" />
        </div>
        <nav class="header__links">
            <ul class="list-unstyled d-flex gap-5 mb-0">
                <li>
                    <a routerLink="">home</a>
                </li>
                <li class="has-list">
                    <a routerLink="">category</a>
                    <ul class="dropdown-list d-flex flex-column gap-3">
                        <li>
                            <a> category 1</a>
                        </li>
                        <li>
                            <a> category 2</a>
                        </li>
                        <li>
                            <a> category 3</a>
                        </li>
                        <li>
                            <a> category 4</a>
                        </li>
                    </ul>
                </li>
                <li class="has-list">
                    <a routerLink="">Products</a>
                    <ul class="dropdown-list d-flex flex-column gap-3">
                        <li>
                            <a> category 1</a>
                        </li>
                        <li>
                            <a> category 2</a>
                        </li>
                        <li>
                            <a> category 3</a>
                        </li>
                        <li>
                            <a> category 4</a>
                        </li>
                    </ul>
                </li>
                <li class="has-list">
                    <a routerLink="">pages</a>
                    <ul class="dropdown-list d-flex flex-column gap-3">
                        <li>
                            <a> category 1</a>
                        </li>
                        <li>
                            <a> category 2</a>
                        </li>
                        <li>
                            <a> category 3</a>
                        </li>
                        <li>
                            <a> category 4</a>
                        </li>
                    </ul>
                </li>
                <li class="has-list">
                    <a routerLink="">blog</a>
                    <ul class="dropdown-list d-flex flex-column gap-3">
                        <li>
                            <a> category 1</a>
                        </li>
                        <li>
                            <a> category 2</a>
                        </li>
                        <li>
                            <a> category 3</a>
                        </li>
                        <li>
                            <a> category 4</a>
                        </li>
                    </ul>
                </li>
                <li class="has-list">
                    <a routerLink="">elements</a>
                    <ul class="dropdown-list d-flex flex-column gap-3">
                        <li>
                            <a> category 1</a>
                        </li>
                        <li>
                            <a> category 2</a>
                        </li>
                        <li>
                            <a> category 3</a>
                        </li>
                        <li>
                            <a> category 4</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="header__contact d-flex gap-2 align-items-center">
            <i class="fa-solid fa-phone"></i>
            <span>+123 ( 456 ) ( 7890 )</span>
        </div>

    </section>
    <section class="main-header">

    </section>

</header>