
.header {
    background-color: var(--white);

    &__wrapper {
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);

    }

    &__top-bar {
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        padding: 10px 10%;

        .menu-icon {
            border: 1px solid rgba(0, 0, 0, 0.08);
            padding: 10px;
            border-radius: 4px;
        }
        @media(max-width:992px){
        flex-direction: column;
                position: fixed;
                background-color: #fff;
                width: 100%;
                height: 100%;
                inset: 0;
                align-items: start !important;
                justify-content: start !important;
                ul{
                    flex-direction: column;
                }
            
        }
    }

    &__links {
        ul {
            .has-list {
                position: relative;

                &:hover {
                    .dropdown-list {
                        opacity: 1;
                        pointer-events: auto;
                        transition: var(--transition);

                    }
                }

                &::after {
                    content: "\f107";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    inset-inline-end: -25px;
                    top: 5px;
                }

                .dropdown-list {
                    position: absolute;
                    top: 100%;
                    background-color: var(--white);
                    border: 1px solid var(--gray-100);
                    border-radius: 5px;
                    min-width: 200px;
                    padding: 20px;
                    opacity: 0;
                    pointer-events: none;
                    transition: var(--transition);
                    z-index: 9;

                    &:hover {
                        opacity: 1;
                    }

                    li {
                        padding: 5px 0;
                        cursor: pointer;

                        &:hover {
                            background-color: var(--light-gray-100);
                            transition: var(--transition);

                        }


                        a {
                            border-bottom: 1px solid var(--gray-100);
                            width: 100%;
                            display: block;
                            padding-bottom: 5px;
                            font-size: .9rem;

                        }

                        &:last-child {
                            a {
                                border: 0;
                            }
                        }

                    }
                }

            }

            li {
                position: relative;



                a {
                    color: var(--black-200);
                    text-transform: capitalize;
                }
            }
        }
    }

    &__contact {
        font-size: .8rem;
          @media(max-width:992px){
            margin-top: 30px;
          }
    }

    .main-header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        background-color: var(--white);
        padding: 10px 10%;

        &__logo {}

        &__search {
            input[type="text"] {
                padding: 10px 10px;
                border-radius: 4px 0px 0px 4px;
                border: 1px solid var(--green);
                border-inline-end: 0;
                &::placeholder{
                    font-size: .8rem;
                }
            }

            select {
                border-radius: 0;
                border: 1px solid var(--green);
                border-inline-end: 0;
                padding-inline: 10px;
            }

            .btn-danger {
                border-radius: 0px 4px 4px 0;
            }
        }

        &__actions {
            div{
                cursor: pointer;
                color: var( --black-300)
            }
        }


    }
}