<header class="header">
    <div class="container">
        <section class="header__top-bar d-flex justify-content-between">
            <div class="menu-icon">
                <img src="./assets/bars.svg" alt="menu" />
            </div>
            <nav class="header__links">
                <ul class="list-unstyled d-flex gap-3">
                    <li>
                        <a routerLink="">home</a>
                    </li>
                    <li>
                        <a routerLink="">category</a>
                    </li>
                    <li>
                        <a routerLink="">Products</a>
                    </li>
                    <li>
                        <a routerLink="">pages</a>
                    </li>
                    <li>
                        <a routerLink="">blog</a>
                    </li>
                    <li>
                        <a routerLink="">elements</a>
                    </li>
                </ul>
            </nav>
            <div class="header__contact">
                <i class="fa-solid fa-phone"></i>
                <span>+123 ( 456 ) ( 7890 )</span>
            </div>

        </section>
        <section class="main-header">

        </section>
    </div>
</header>