<header class="header">
    <div class="header__wrapper">
     <div class="menu-icon-mob" (click)="toggleMenu()">
                <img src="./assets/bars.svg" alt="menu" />
            </div>
        <section class="header__top-bar d-flex justify-content-between align-items-center" [class.mob-open]="showMenuMob">
            <div class="menu-icon">
                <img src="./assets/bars.svg" alt="menu" />
            </div>
            <nav class="header__links">
                <ul class="list-unstyled d-flex gap-5 mb-0">
                    <li>
                        <a routerLink="">home</a>
                    </li>
                    <li class="has-list">
                        <a routerLink="">category</a>
                        <ul class="dropdown-list d-flex flex-column gap-3">
                            <li>
                                <a> category 1</a>
                            </li>
                            <li>
                                <a> category 2</a>
                            </li>
                            <li>
                                <a> category 3</a>
                            </li>
                            <li>
                                <a> category 4</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-list">
                        <a routerLink="">Products</a>
                        <ul class="dropdown-list d-flex flex-column gap-3">
                            <li>
                                <a> Products 1</a>
                            </li>
                            <li>
                                <a> Products 2</a>
                            </li>
                            <li>
                                <a> Products 3</a>
                            </li>
                            <li>
                                <a> Products 4</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-list">
                        <a routerLink="">pages</a>
                        <ul class="dropdown-list d-flex flex-column gap-3">
                            <li>
                                <a> pages 1</a>
                            </li>
                            <li>
                                <a> pages 2</a>
                            </li>
                            <li>
                                <a> pages 3</a>
                            </li>
                            <li>
                                <a> pages 4</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-list">
                        <a routerLink="">blog</a>
                        <ul class="dropdown-list d-flex flex-column gap-3">
                            <li>
                                <a> blog 1</a>
                            </li>
                            <li>
                                <a> blog 2</a>
                            </li>
                            <li>
                                <a> blog 3</a>
                            </li>
                            <li>
                                <a> blog 4</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-list">
                        <a routerLink="">elements</a>
                        <ul class="dropdown-list d-flex flex-column gap-3">
                            <li>
                                <a> elements 1</a>
                            </li>
                            <li>
                                <a> elements 2</a>
                            </li>
                            <li>
                                <a> elements 3</a>
                            </li>
                            <li>
                                <a> elements 4</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="header__contact d-flex gap-2 align-items-center">
                <i class="fa-solid fa-phone"></i>
                <span>+123 ( 456 ) ( 7890 )</span>
            </div>

        </section>
        <section class="main-header d-flex justify-content-between align-items-center flex-wrap gap-3">
            <div class="main-header__logo">
                <img src="./assets/logo.svg" title="logo" alt="logo" />
            </div>
            <div class="main-header__search">
                <form>
                    <div class="d-flex">
                        <input type="text" placeholder="search for items..." />
                        <select>
                            <option>all category</option>
                            <option>all category</option>
                            <option>all category</option>
                            <option>all category</option>
                        </select>
                        <button class="btn btn-danger"><i class="fa-brands fa-sistrix"></i></button>
                    </div>
                </form>
            </div>
            <div class="main-header__actions d-flex justify-content-between align-items-center gap-3">
                <div class="d-flex gap-2 align-items-center">
                    <i class="fa-regular fa-user"></i>
                    <span>account</span>
                </div>
                <div class="d-flex gap-2 align-items-center">
                    <i class="fa-regular fa-heart"></i>
                    <span>wishlist</span>
                </div>
                <div class="d-flex gap-2 align-items-center">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span>cart</span>
                </div>

            </div>
        </section>
    </div>
</header>