<section class="newsletter">
  <div class="container">
    <div class="newsletter-content">

      <div class="newsletter-info">
        <h2>
          Stay home & get your daily
          <br>
          needs from our shop
        </h2>

        <p>
          Start Your Daily Shopping with Nest Mart
        </p>

        <form class="subscribe-form">
          <input
            type="email"
            placeholder="Your email address">

          <button>
            Subscribe
          </button>
        </form>
      </div>

      <div class="newsletter-image">
        <img
          src="assets/images/food/man.svg"
          alt="Delivery Man">
      </div>

    </div>
  </div>
</section>