<section class="hero">

    <div class="hero__cover">
        <div class="overlay">

        </div>

        <img src="./assets/banner/banner.jpg" />
    </div>
    <div class="hero__content">
        <p class="desc">super delicious</p>
        <h1 class="title">the best way to stuff your wallet</h1>
        <button class="btn">
            <span class="arrow">
                <i class="fa-solid fa-arrow-right"></i>
            </span>
            <span class="text">order now</span>
        </button>
    </div>

</section>