<div class="container">
    <section class="deals">

        <div class="section-header">

            <h2>Deals Of The Day</h2>

            <a href="#">
                All Deals
                <i class="fa-solid fa-angle-right"></i>
            </a>

        </div>

        <div class="products">

            <!-- Card -->

            <div class="product-card">

                <div class="image">

                    <img src="assets/images/product-1.jpg" alt="">

                </div>

                <div class="content">

                    <div class="rating">

                        <i class="fa-solid fa-star"></i>
                        <span>4.0</span>

                    </div>

                    <h3>
                        Seeds of Change Organic Quinoa,
                        Brown, & Rice
                    </h3>

                    <p>
                        By <span>NestFood</span>
                    </p>

                    <div class="bottom">

                        <div class="price">

                            <span class="new">$32.85</span>
                            <span class="old">$33.8</span>

                        </div>

                        <button>
                            <i class="fa-solid fa-cart-shopping"></i>
                            Add
                        </button>

                    </div>

                </div>

            </div>

            <!-- Card -->

            <div class="product-card">

                <div class="image">

                    <img src="assets/images/product-2.jpg" alt="">

                </div>

                <div class="content">

                    <div class="rating">

                        <i class="fa-solid fa-star"></i>
                        <span>4.0</span>

                    </div>

                    <h3>
                        Perdue Simply Smart Organics
                        Gluten Free
                    </h3>

                    <p>
                        By <span>Old El Paso</span>
                    </p>

                    <div class="bottom">

                        <div class="price">

                            <span class="new">$24.85</span>
                            <span class="old">$26.8</span>

                        </div>

                        <button>
                            <i class="fa-solid fa-cart-shopping"></i>
                            Add
                        </button>

                    </div>

                </div>

            </div>

            <!-- Card -->

            <div class="product-card">

                <div class="image">

                    <img src="assets/images/product-3.jpg" alt="">

                </div>

                <div class="content">

                    <div class="rating">

                        <i class="fa-solid fa-star"></i>
                        <span>3.0</span>

                    </div>

                    <h3>
                        Signature Wood-Fired Mushroom
                        and Caramelized
                    </h3>

                    <p>
                        By <span>Progresso</span>
                    </p>

                    <div class="bottom">

                        <div class="price">

                            <span class="new">$12.85</span>
                            <span class="old">$13.8</span>

                        </div>

                        <button>
                            <i class="fa-solid fa-cart-shopping"></i>
                            Add
                        </button>

                    </div>

                </div>

            </div>

            <!-- Card -->

            <div class="product-card">

                <div class="image">

                    <img src="assets/images/product-4.jpg" alt="">

                </div>

                <div class="content">

                    <div class="rating">

                        <i class="fa-solid fa-star"></i>
                        <span>3.0</span>

                    </div>

                    <h3>
                        Simply Lemonade with Raspberry
                        Juice
                    </h3>

                    <p>
                        By <span>Yoplait</span>
                    </p>

                    <div class="bottom">

                        <div class="price">

                            <span class="new">$15.85</span>
                            <span class="old">$16.8</span>

                        </div>

                        <button>
                            <i class="fa-solid fa-cart-shopping"></i>
                            Add
                        </button>

                    </div>

                </div>

            </div>

        </div>

    </section>
</div>