<div class="product-card">

    <span class="badge badge-green">Save 35%</span>

    <div class="image">
        <img src="./assets/images/products/product.png" alt="Product">
    </div>

    <span class="category">Hodo Foods</span>

    <h3 class="title">
        All Natural Italian-Style
        Chicken Meatballs
    </h3>

    <div class="price">
        <span class="new-price">$238.85</span>
        <span class="old-price">$245.80</span>
    </div>

    <div class="progress">
        <div class="progress-bar"></div>
    </div>

    <p class="sold">
        Sold: <span>90</span>/120
    </p>

    <button class="btn-cart">
        Add To Cart
    </button>

</div>