<div class="product-card">

    <span class="badge badge-green">Save 35%</span>

    <div class="image">
        <img [src]='data.images[0]' alt="Product">
    </div>

    <span class="category">{{data.catogry}}</span>

    <h3 class="title">
    {{data.title}}
    </h3>

    <div class="price">
        <span class="new-price">{{data.price}}</span>
        <span class="old-price"> %</span>
    </div>

    <div class="progress">
        <div class="progress-bar"></div>
    </div>

    <p class="sold">
        Sold: <span>90</span>/120
    </p>

    <button class="btn-cart">
        Add To Cart
    </button>

</div>